# Rider
.idea/
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLinters
.idea/*.sln.iml
.idea/dotSettings
.idea/codeStyles
.idea/shelf
.idea/caches

# Visual Studio
.vs/
.vs


# Visual Studio Code
.vscode/

# Archivos compilados de C#
bin/
obj/

# Archivos específicos de .NET
*.dll
*.pdb

# Archivos específicos del usuario
*.user

# Archivos específicos de macOS
.DS_Store

# Archivos de caché de miniaturas de Windows
Thumbs.db

# Generales
.tmp
/Obligatorio/Interface/Data
Reportes/*