@using Controladores
@inherits LayoutComponentBase
@inject NavigationManager navManager
@inject Fachada fachada
@inject SesionLogica SesionLogica

<PageTitle>DepoQuick</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        
        <div class="top-row px-4">
            <div class="nav-item mx-0">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                </svg>
            </div>
            <p class="mx-2 my-0">@_nombreUsuario</p>
            <div class="nav-item">
                <button class="btn p-2 m-0" @onclick="CerrarSesion">
                    Cerrar sesión
                </button>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    private String _nombreUsuario;

    protected override void OnInitialized()
    {
        try
        {
            _nombreUsuario = "Nombre usuario";
            if (SesionLogica.EmailUsuarioActual == null) navManager.NavigateTo("/");
            _nombreUsuario = fachada.ObtenerDatosPublicosDeUsuarioActual(SesionLogica.EmailUsuarioActual).NombreCompleto;

        }
        catch (Exception e)
        {
            Console.WriteLine($"Se a producido una excepción: {e.Message}");
        }
        
    }

    private void CerrarSesion()
    {
        SesionLogica.CerrarSesion();
        navManager.NavigateTo("/");
    }
}